{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

    
<div class="ex3">
    {% for video in videos %}
    <form action="{{ path('video_show', {'id': video.id}) }}">
        <input type="submit" value="Ver Video" />
    </form><br>
    {% endfor %}

</div>
<div class="ex3">
    {% for usuario in usuarios %}
    <form action="{{ path('usuario_show', {'id': usuario.id}) }}">
        <input type="submit" value="Ver usuario" />
    </form><br>
    {% endfor %}

</div>
<div class="ex3">
<iframe src="https://www.20minutos.es/widgets/render/portada/18/" frameborder="0" height="90%" width="100%"></iframe>
</div>


{% endblock %}
