<form method="post" action="{{ path('canal_delete', {'id': canal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ canal.id) }}">
    <button class="btn">Delete</button>
</form>
