{% extends 'base.html.twig' %}

{% block title %}Edit Canal{% endblock %}

{% block body %}
    <h1>Edit Canal</h1>

    {{ include('canal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('canal_index') }}">back to list</a>

    {{ include('canal/_delete_form.html.twig') }}
{% endblock %}
