{% extends 'base.html.twig' %}

{% block title %}Canal index{% endblock %}

{% block body %}
    <h1>Canal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Subscriptores</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for canal in canals %}
            <tr>
                <td>{{ canal.id }}</td>
                <td>{{ canal.nombre }}</td>
                <td>{{ canal.subscriptores }}</td>
                <td>
                    <a href="{{ path('canal_show', {'id': canal.id}) }}">show</a>
                    <a href="{{ path('canal_edit', {'id': canal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('canal_new') }}">Create new</a>
{% endblock %}
