{% extends 'base.html.twig' %}

{% block title %}Canal{% endblock %}

{% block body %}
    <h1>Canal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ canal.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ canal.nombre }}</td>
            </tr>
            <tr>
                <th>Subscriptores</th>
                <td>{{ canal.subscriptores }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('canal_index') }}">back to list</a>

    <a href="{{ path('canal_edit', {'id': canal.id}) }}">edit</a>

    {{ include('canal/_delete_form.html.twig') }}
{% endblock %}
