{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}


 <iframe id="visualizacion" width="75%" height="600" src="https://www.youtube.com/embed/z2zAkRCHXJU" frameborder="0"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
  <button style ="margin-left:80%" onclick="document.getElementById('id01').style.display='block'" onmouseover="ocultar()" class="w3-button w3-blue">Opciones del Video</button>



  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>Opciones</h2>
      </header>
      <div class="w3-container">
       
        <h1>{{ video.titulo }}</h1>
         <BR><label>Descripcion </label>
        <p>{{ video.descripcion }}</p>
        <a href="https://www.w3schools.com">
          <i class="w3-xxlarge"><i class="fa fa-user"></i> Pagina del Usuario</i></a>
         <br><br><br>
          {{ include('comentario/_form.html.twig') }}
          
          <div class="ex4"> 
            {% for comentario in comentarios %}
              {% if video.id == comentario.video.id%}

              <label> <strong>{{comentario.usuario.nombre}} el  {{ video.fecha|date("m/d/Y") }}</strong></label>
                <div class="cajacomentario">
                  {{ comentario.contenido }}
                </div>
              {%  endif %}
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  
  function ocultar(){
    document.getElementById('comentario_video').style.visibility = 'hidden';
    var selects = document.getElementById('comentario_video').getElementsByTagName('option');
    document.getElementById('comentario_video').getElementsByTagName('option');
   
     var i;
      for (i = 0; i < selects.length; i++) { 
    if (selects[i].value == {{ video.id }}) {
      selects[i].selected = 'selected';
    }
}
      document.getElementById("comentario_video").value = '{{ video.id }}';

  }

</script>
{% endblock %}

