<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		    <style>
		    form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: center;
    width: 50%;
    margin-left: 15%; 
    background: #f1f1f1;
}

form.example button {
    float: center;
    width: 10%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

div.ex3 {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d4daff;
	
	margin : 1%;
	padding: 1%;
    width: 30%;
    height: 600px;
    overflow: auto;
    float: left;
}
div.ex4 {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #d4daff;
	
	margin : 1%;
	padding: 1%;
    width: 100%;
    height:150px;
    overflow: auto;
    float: left;
}
.cajacomentario{
	 border-bottom: 5px solid  #E4F3FF ;
	}
		    h1{
		    	 color: #6699FA;
		    }
				ul {
				    list-style-type: none;
				    margin: 0;
				    padding: 0;
				    overflow: hidden;
				    background-color: #bae7ff;
				}

				li {
				    float: left;
				}

				li a {
				    display: block;
				    color: white;
				    text-align: center;
				    padding: 14px 16px;
				    text-decoration: none;
				}

				li a:hover {
				    background-color: #96deff;
				}


				#visualizacion{
					margin-left: 12%;

				}


				.footer {
					   position: fixed;
					   left: 0;
					   bottom: 0;
					   width: 100%;
					   background-color: #bae7ff;
					   color: white;
					   text-align: center;
					 	border-radius: 58px 200px 58px 58px;
						-moz-border-radius: 58px 200px 58px 58px;
						-webkit-border-radius: 58px 200px 58px 58px;
						border: 6px solid #96deff;
					}
a:link 
{ 
text-decoration:none; 
}
#comentario_contenido{
	
	width: 70%;
	height: 80px;
	overflow:hidden;
	padding:10px;
	background-color:#D5F9FE;
	border:1px solid #afcde3;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


			</style>

        {% endblock %}
    </head>
    <body>
    	<ul>
			  <li><a class="active" href="{{ path('default') }}">Principal</a></li>
			  <li><a href="{{ path('video_index') }}">Videos</a></li>
			  <li><a href="{{ path('canal_index') }}">Canal</a></li>
			  <li><a href="{{ path('video_new') }}">Subir Video</a></li>
			  
		</ul>
		<br>
<form class="example" action="{{ path('video_index') }}">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br>
			<div class="footer">
  				<h3>Desarrollado por Rodrigo Corsini Bolado</h3>
			</div>
        {% block body %}
			
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
	
